//------------------------------
//   PATRON DE COLORES
//------------------------------
$principal:#0095d5;
$azul01: #324d5b;
$azul02: #335864;
$azul03: #2b444f;
$azul04: #3b5a67;
$azul05: #324f5f;
//Copiar colores correctos en Inkscape
html {
    font-size: 16px;
}